<h1>FIGHT!</h1>

<div class="selectedChar">
    <h2>You chose:</h2>
    <h2>{{dino.name}}</h2>
        <div class="stats">
            <p>Health: {{dino.health}}</p>
            <p>Stam: {{dino.stamina}}</p>
            <p>Speed: {{dino.movement_speed}}</p>
            <br>
            <p><form class="form" action="/fight" method="post"><button id="attack">BASIC ATTACK</button> - {{dino.melee_damage}}</p></form>
        </div>
</div>
<br>
<br>
<div class="computer char">
    <h2>Your opponent:</h2>
    <h2>{{opponent.name}}</h2>
        <div class="stats">
            <p>Health: {{opponent.health}}</p>
            <p>Stam: {{opponent.stamina}}</p>
            <p>Speed: {{opponent.movement_speed}}</p>
            <br>
            <p><form class="form" action="/opponent-fight" method="post"><button id="opponentAttack"></button></p></form>
        </div>
</div>

<script>
    let button = document.getElementById("opponentAttack")
        setTimeout(function(){ button.click() }, 5000);
        {{!-- button.click() --}}
</script>