<h1>FIGHT!</h1>

<div class="selectedChar">
    <h2>You chose:</h2>
    <h2>{{name}}</h2>
        <div class="stats">
            <p>Health: {{health}}</p>
            <p>Stam: {{stamina}}</p>
            <p>Speed: {{movement_speed}}</p>
            <br>
            <p><form class="form" action="/fight/{{id}}" method="post"><button><a href="/fight/{{id}}">BASIC ATTACK</a></button> - {{melee_damage}}</p></form>
        </div>
</div>
<br>
<br>
<div class="computer char">
    <h2>Your opponent:</h2>
    <h2>{{name}}</h2>
        <div class="stats">
            <p>Health: {{health}}</p>
            <p>Stam: {{stamina}}</p>
            <p>Speed: {{movement_speed}}</p>
            <br>
        </div>
</div>